<div class="container">
  <h1 class="text-center my-4">TV Shows</h1>
  <div class="row justify-content-center mb-4">
    <div class="col-auto">
      <button
        class="btn btn-success btn-lg"
        (click)="prevPage()"
        [disabled]="page <= 1"
      >
        Prev
      </button>
    </div>
    <div class="col-auto">
      <button
        class="btn btn-success btn-lg"
        (click)="nextPage()"
        [disabled]="page >= totalPages"
      >
        Next
      </button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let show of allShows; trackBy: trackById">
      <div class="card h-100">
        <a [routerLink]="['/shows', show._id]">
          <img
            [src]="'https://image.tmdb.org/t/p/original/' + show.poster_path"
            class="card-img-top"
            alt="{{ show.name }}"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ show.name }}</h5>
          <h6 class="card-subtitle text-muted">
            {{ show.first_air_date | date: 'longDate' }}
          </h6>
          <p class="card-text">
            {{ show.overview || 'No overview available' }}
          </p>
          <p class="card-text">
            <small class="text-muted">
              Seasons: {{ show.number_of_seasons }},
              Episodes: {{ show.number_of_episodes }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!allShows.length">
    <h2 class="text-center">No TV Shows Found!</h2>
  </div>
</div>
