<nav
  class="navbar navbar-expand-lg p-3 navbar-dark"
  style="background-color: #032541"
>
  <div class="container-fluid">
    <a
      class="navbar-brand fs-3"
      routerLink="/"
      style="
        background: linear-gradient(to right, #a1ffce, #faffd1);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      "
      >WatchASeries</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between"
      >
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/series"
            >Series</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/shows"
            >TV Shows</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLinkActive="active"
            routerLink="/users/:userId/watchList"
            >WatchList
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex justify-content-between pr-2" style="width: 15%">
    <a
      href=""
      routerLinkActive="active"
      class="btn text-light fs-5"
      routerLink="/subscripe"
      >Subscripe</a
    >
    <a
      href=""
      routerLinkActive="active"
      class="btn text-light fs-5"
      routerLink="/login"
      >Login
    </a>
  </div>
</nav>
