<div class="container">
  @if (!watchList || !watchList.length) {
  <div style="height: 54vh">
    <h1 class="text-center">WatchList is Empty!</h1>
  </div>
  }@else {
  <h1 class="text-center my-4">WatchList</h1>

  <div class="row justify-content-center mb-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 pb-4">
      <div class="col" *ngFor="let show of watchList; trackBy: trackById">
        <div class="card h-100">
          <a [routerLink]="['/shows', show._id]">
            <img
              [src]="'https://image.tmdb.org/t/p/original/' + show.poster_path"
              class="card-img-top"
              alt="{{ show.name }}"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ show.name }}</h5>
            <h6 class="card-subtitle text-muted">
              {{ show.first_air_date | date : "longDate" }}
            </h6>
            <p class="card-text">
              {{ show.overview || "No overview available" }}
            </p>
            <p class="card-text">
              <small class="text-muted">
                Seasons: {{ show.number_of_seasons }}, Episodes:
                {{ show.number_of_episodes }}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
